FIREBASE_APIKEY=AIzaxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FIREBASE_AUTHDOMAIN=xxxx.firebaseapp.com
FIREBASE_DATABASEURL=https://xxxx.firebaseio.com/
FIREBASE_PROJECTID=xxxx
FIREBASE_PROJECTNUMBER=000000000000
FIREBASE_STORAGEBUCKET=xxxx.appspot.com
FIREBASE_MESSAGINGSENDERID=000000000000
FIREBASE_APPID=1:333074285854:web:8ed9d392b711af40eb350f
FIREBASE_APPID=0:000000000000:web:xxxxxxxxxxxxxxxxxxxxxx
FIREBASE_MEASUREMENTID=xxxxxxxxxxxx

FIREBASE_EMULATOR=1  # for dev

SPOTIFY_PLAYLISTURI=xxxxxxxxxxxxxxxxxxxxxx

AUTH_PASSWORD="my creative and complex password"
AUTH_LOCALSTORAGE_KEY="unique localstorage key to store login"
