.parallax {
    background-image: url("../images/landscapeNoDot.jpg");

    height: 100vh;
    min-height: 100vh;

    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
}

.parallax-dot {
    background-image: url("../images/landscapeWithDot.jpg");

    height: 100vh;
    min-height: 100vh;

    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
}

.parallax-text {
    font-family: 'Mr Dafoe', cursive;
    font-size: 10rem;
}

header.hero-header h1.main-heading{ 
    text-align: left;
    color: white;
    width: 12em;
    background-color: rgba(0,0,0,0);
    position: absolute;
    bottom: 0.2em;
    width: 100%;
  }
  
  header.hero-header {
    /* position: absolute;
    /* margin-top: -3.5em;*/
    top: 90%;
    text-align: center;
  }
