.parallax {
    background-image: url("images/road-landscape-nature-sky-56832.jpg");

    height: 100%;
    min-height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header.hero-header h1.main-heading{ 
    text-align: left;
    color: white;
    width: 12em;
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 94%;
    width: 100%;
  }
  
  header.hero-header {
    /* position: absolute;
    /* margin-top: -3.5em;*/
    top: 90%;
    text-align: center;
  }